<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topNav :: navbar"></div>

<h1>Orders</h1>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>User Name</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.getId()}">Id</td>
        <td th:text="${order.getUser().getName()}">User Name</td>
        <td>
            <span th:each="item : ${order.getItems()}">
                <span th:text="${item}">Item</span>
            </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>