<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topNav :: navbar"></div>

<form th:action="@{/admin/item/update/__${id}__}" method="post"
      enctype="multipart/form-data">

    <label>Id: </label>
    <input type="text" name="id" th:value="${id}" readonly>
    <br>

    <label>Name: </label>
    <input type="text" name="itemName" th:value="${itemName}">
    <br>

    <label>Part Number: </label>
    <input type="text" name="partNumber" th:value="${partNumber}">
    <br>

    <label>Price: </label>
    <input name="price" th:value="${price}">
    <br>

    <label>Category: </label>
    <select name="categoryName">
        <option value="">Any</option>
        <option th:each="category : ${categoryList}"
                th:value="${category.getName()}"
                th:text="${category.getName()}"
                th:selected="${category.getName()} == ${categoryName}"
        >Category</option>
    </select>
    <br>

    <label>Color: </label>
    <select name="chosenColor">
        <option value="">Any</option>
        <option th:each="color : ${colors}"
                th:value="${color.getDisplayValue()}"
                th:text="${color.getDisplayValue()}"
                th:selected="${color.getDisplayValue()} == ${chosenColor}"
        >Category</option>
    </select>
    <br>

    <label>Image: </label>
    <select name="uploadedImageName" id="imageName">
        <option value="">Any</option>
        <option th:each="image : ${imageSet}"
                th:value="${image}"
                th:text="${image}"
                th:selected="${image} == ${uploadedImageName}"
        >Image</option>
    </select>

    <div id="imagePreview">
    </div>

    <button type="submit">Update Item</button>

    <input type="file" name="imageFile">
    <button type="submit" th:formaction="@{/admin/item/uploadImage/update/__${id}__}">Upload</button>

</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#imageName").change(function() {
            var src = $(this).val();

            $("#imagePreview").html(src ? "<img src='/resources/upload/" + src + "' width=\"100\" class=\"img-thumbnail\">" : "");
        });
        $("#imageName").html(function() {
            var src = $(this).val();

            $("#imagePreview").html(src ? "<img src='/resources/upload/" + src + "' width=\"100\" class=\"img-thumbnail\">" : "");
        });
    });
</script>

</body>
</html>