<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topNav :: navbar"></div>

<form th:action="@{/admin/category/new}" method="post"
      enctype="multipart/form-data" th:object="${categoryDto}">

    <label>Name: </label>
    <input type="text" name="categoryName" th:field="${categoryDto.categoryName}">
    <br>

    <label>Image: </label>
    <select name="imageName" id="imageName" th:field="${categoryDto.uploadedImageName}">
        <option value="">Any</option>
        <option th:each="image : ${imageSet}"
                th:value="${image}"
                th:text="${image}"
        >Image</option>
    </select>

    <div id="imagePreview">
    </div>

    <label>Parent Category: </label>
    <select name="parentName" th:field="${categoryDto.parentName}">
        <option value="">Any</option>
        <option th:each="parent : ${parentList}"
                th:value="${parent.getName()}"
                th:text="${parent.getName()}"
        >Category</option>
    </select>
    <button type="submit">Add Category</button>

    <input type="file" name="imageFile">
    <button type="submit" th:formaction="@{/admin/category/uploadImage/new}">Upload</button>

</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#imageName").change(function() {
            var src = $(this).val();

            $("#imagePreview").html(src ? "<img src='/resources/upload/" + src + "' width=\"100\" class=\"img-thumbnail\">" : "");
        });
        $("#imageName").html(function() {
            var src = $(this).val();

            $("#imagePreview").html(src ? "<img src='/resources/upload/" + src + "' width=\"100\" class=\"img-thumbnail\">" : "");
        });
    });
</script>

</body>
</html>