<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topNav :: navbar"></div>

<form th:action="@{/admin/category/new}" method="post"
      enctype="multipart/form-data">

    <p>Name</p>
    <input type="text" name="categoryName" th:value="${categoryName}">

    <p>Image</p>
    <div id="imagePreview">
    </div>
    <select name="imageName" id="imageName" th:value="chosenImage">
        <option value="">Any</option>
        <option th:each="image : ${imageSet}"
                th:value="${image}"
                th:text="${image}"
                th:selected="${image} == ${uploadedImageName}"
        >Image</option>
    </select>

    <p>Parent Category</p>
    <select name="parentName" th:value="parentList">
        <option value="">Any</option>
        <option th:each="parent : ${parentList}"
                th:value="${parent.getName()}"
                th:text="${parent.getName()}"
                th:selected="${parent.getName()} == ${parentName}"
        >Category</option>
    </select>
    <button type="submit">Add Category</button>

    <input type="file" name="imageFile">
    <button type="submit" th:formaction="@{/admin/category/uploadImage}">Upload</button>

</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#imageName").change(function() {
            var src = $(this).val();

            $("#imagePreview").html(src ? "<img src='/resources/upload/" + src + "' width=\"50\" class=\"img-thumbnail\">" : "");
        });
    });
</script>

</body>
</html>