<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topNav :: navbar"></div>

<form th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${category}"  method="post">

    <p>Id</p>
    <input type="text" th:value="${category.getId()}" readonly>
    <p>Name</p>
    <input type="text" th:field="*{name}" th:value="${category.getName()}">
    <p>Image Url</p>
    <input type="text" th:field="*{imageUrl}" th:value="${category.getImageUrl()}">
    <p>Parent Category</p>
    <select name="parentName">
        <option value="">Any</option>
        <option th:each="parent : ${categoryList}"
                th:value="${parent.getName()}"
                th:text="${parent.getName()}"
                th:selected="${parent.getName()} == ${category.getParentCategoryName()}"
        >Category</option>
    </select>
    <button type="submit">Update Category</button>
</form>

<form method="post" enctype="multipart/form-data" action="/admin/update/uploadImage">
    <input type="file" name="imageFile">
    <input type="submit" value="Upload">
</form>

<span th:if="${!imageName}">
    <img th:src="@{/resources/upload/__${category.getImageUrl()}__}">
</span>
<span th:if="${imageName}">
    <img th:src="@{/resources/upload/__${imageName}__}">
</span>

</body>
</html>