<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script     src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/topNav :: navbar"></div>

<h3>Registration</h3>

<form th:action="@{/registration}" th:object="${user}" method="post">

    <div>
        <div th:if="${nameError}" class="alert alert-danger" th:text="${nameError}">Error</div>
        <label>Name: </label>
        <input type="text" th:field="*{name}" required/>
    </div>

    <div>
        <label>E-mail: </label>
        <input type="email" th:field="*{email}"/>
    </div>

    <div>
        <label>Password: </label>
        <input type="password" th:field="*{password}" required/>
    </div>

    <div>
        <label>Role: </label>
        <select th:field="*{role}">
            <option th:each="role : ${roles}"
                    th:value="${role}"
                    th:text="${role}"
            >Role</option>
        </select>
    </div>

    <button type="submit">Sign Up</button>
</form>

</body>
</html>