<div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Items</a></li>
                <li><a href="/category">Category</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/auth/registration"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>
